#memory_text {
	width: 800px;
	height: 200px;
	border: 1px solid #aaa;
	overflow: scroll;
	font-family: monospace;
	font-size: 11px;
	white-space: nowrap;
}

#code_entry {
	width: 400px;
	height: 400px;
	border: 1px solid #aaa;
	overflow: scroll;
	font-family: monospace;
	font-size: 12px;
}

#registers {
  width: 300px;
  height: 400px;
  border: 1px solid #aaa;
  font-family: monospace;
  font-size: 11px;
  float: right;
}